<section class="section-general section-background-light">
    <div class="parent">
        <div class="title-about-me title-section-black" i18n>
            Sobre Mí
        </div>
        <div class="div3 profile-picture">
            <img src="Photo_DiegoDeCastroMerillas.jpg" alt="Foto de perfil" class="profile-picture"/>
        </div>
        <div class="div4">
            <p i18n>
                Soy un desarrollador FullStack con experiencia en Java, Spring Boot y Angular. 
                Me apasiona crear soluciones tecnológicas eficientes y escalables.
            </p>
            <p i18n>
                Tengo habilidades en trabajo en equipo, resolución de problemas y una constante 
                curiosidad por aprender nuevas tecnologías.
            </p>
        </div>
    </div>
    
</section>