/* --- 2. SECCIÓN SOBRE MÍ --- */


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 9px;
    width: 100%;
}
    
.title-about-me {
    grid-column: span 3 / span 3;
}

.div3 {
    grid-row-start: 2;
    display: flex;
    justify-content: center;
}

.profile-picture {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 10px 10px 0px #000;
    opacity: 0.4;
}

.profile-picture:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}


.div4 {
    color: #1d1e1e;
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    padding: 40px;
    font-size: 18px;
    font-weight: 600;
}
        