
.navbar {
    position: fixed;
    top: 20px;  
    
    /* TRUCO PARA CENTRAR ELEMENTOS FIXED: */
    left: 0; 
    right: 0;
    margin: 0 auto;      
    width: fit-content; 

    
    background-color: #2c3e50;
    border-radius: 50px;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 1000;
}


/* Estilos de la lista de enlaces */
.nav-links {
    list-style: none; 
    padding: 0;     
    margin: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar.oculta {
    transform: translateY(-150%); /* Se mueve hacia arriba */
}




/* Estilos de los enlaces individuales */
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #3498db; /* Cambio de color al pasar el mouse */
}

/* 3. Ajuste del cuerpo (IMPORTANTE) */
body {
    /* Como el menú es 'fixed' y flota, no ocupa espacio real.
        Necesitamos empujar el contenido hacia abajo para que 
        el menú no lo tape al principio. */
    padding-top: 80px; 
    background-color: #f4f4f4;
}

/* Contenido de relleno para probar el scroll */
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
p { margin-bottom: 20px; line-height: 1.6; }


/* Estilos del botón hamburguesa (Oculto en PC) */
.hamburger {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* MEDIA QUERY PARA MÓVILES (Menos de 768px) */
@media (max-width: 768px) {
    
    /* Mostrar el botón hamburguesa */
    .hamburger {
        display: block;
    }

    /* Ocultar los links por defecto en móvil */
    .nav-links {
        position: fixed;
        top: 0;
        right: -100%; /* Lo sacamos de la pantalla a la derecha */
        height: 100vh;
        width: 70%;   /* Ancho del menú lateral */
        background-color: #2c3e50;
        flex-direction: column; /* Links uno debajo de otro */
        padding-top: 80px;
        transition: right 0.3s ease; /* Animación suave al entrar */
    }

    /* Clase que añade Angular cuando menuAbierto = true */
    .nav-links.active {
        right: 0; /* Lo traemos a la pantalla */
    }
}