<section class="section-general">
  
  <div class="grid-container">
      
    <div class="title-section-black grid-section-title">Otros Logros & Formación</div>

      <div class="card-container">
        <div class="folder-tab">
          <div class="folder-content">🏆 Premios y Reconocimientos</div>
        </div>
        <div class="folder-body">
          @for (award of awards; track $index) {
            <div class="card award-margin">
              <div class="img icon-flex">
                {{ award.icon }}
              </div>
              <div class="textBox">
                <div class="textContent">
                  <p class="h1">{{ award.title }}</p>
                </div>
                <p class="p">{{ award.organizer }}</p>
              </div>
            </div>
          }
        </div>
      </div>

      <div class="card-container">
        <div class="folder-tab">
          <div class="folder-content">
          🌍 Idiomas
          </div>
        </div>
        <div class="folder-body">
          @for (lang of languages; track $index) {
            <div class="lang-item"> <div class="lang-header">
                <span>{{ lang.name }}</span>
                <span class="lang-level">{{ lang.level }}</span>
              </div>
              
              <div class="loaderBar">
                <div class="loaderFill" [style.width.%]="lang.percentage"></div>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="card-container">
        <div class="folder-tab">
          <div class="folder-content">🎓 Cursos y Certificaciones</div>
        </div>
        <div class="folder-body">
          @for (course of courses; track $index) {
            <div class="card award-margin">
              <div class="img icon-flex">📚</div>
              <div class="textBox">
                <div class="textContent">
                  <p class="h1">{{ course.name }}</p>
                  <span class="span">{{ course.hours }}</span>
                </div>
                <p class="p">{{ course.platform }}</p>
              </div>
            </div>
          }
        </div>
      </div>

    </div>
</section>