.hidden-element {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(100px);
  transition: all 0.5s ease-out;
}


.show-element {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
