<div class="row">
  <div class="column">
    <img src="https://images.unsplash.com/photo-1519741497674-611481863552?w=600&q=80" alt="Boda">
    <img src="https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?w=600&q=80" alt="Rocas">
    <img src="https://images.unsplash.com/photo-1432405972618-c60b0225b8f9?w=600&q=80" alt="Cascadas">
    <img src="https://images.unsplash.com/photo-1502602898657-3e91760cbb34?w=600&q=80" alt="Paris">
    <img src="https://images.unsplash.com/photo-1472214103451-9374bd1c798e?w=600&q=80" alt="Naturaleza">
    <img src="https://images.unsplash.com/photo-1487621167305-5d248087c724?w=600&q=80" alt="Niebla">
    <img src="https://images.unsplash.com/photo-1484291470158-b8f8d608850d?w=600&q=80" alt="Paris 2">
  </div>

  <div class="column">
    <img src="https://images.unsplash.com/photo-1484291470158-b8f8d608850d?w=600&q=80" alt="Bajo el agua">
    <img src="https://images.unsplash.com/photo-1505118380757-91f5f5632de0?w=600&q=80" alt="Oceano">
    <img src="https://images.unsplash.com/photo-1511285560982-1351cdeb9821?w=600&q=80" alt="Boda 2">
    <img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?w=600&q=80" alt="Montañas">
    <img src="https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?w=600&q=80" alt="Rocas 2">
    <img src="https://images.unsplash.com/photo-1682687220742-aba13b6e50ba?w=600&q=80" alt="Bajo el agua 2">
  </div>

  <div class="column">
    <img src="https://images.unsplash.com/photo-1606800052052-a08af7148866?w=600&q=80" alt="Boda 3">
    <img src="https://images.unsplash.com/photo-1484291470158-b8f8d608850d?w=600&q=80" alt="Rocas 3">
    <img src="https://images.unsplash.com/photo-1516972238977-89271fb2bab8?w=600&q=80" alt="Cascadas 2">
    <img src="https://images.unsplash.com/photo-1500313830540-7b6650a74fd0?w=600&q=80" alt="Paris 3">
    <img src="https://images.unsplash.com/photo-1441974231531-c6227db76b6e?w=600&q=80" alt="Naturaleza 2">
    <img src="https://images.unsplash.com/photo-1484291470158-b8f8d608850d?w=600&q=80" alt="Niebla 2">
    <img src="https://images.unsplash.com/photo-1502602898657-3e91760cbb34?w=600&q=80" alt="Paris 4">
  </div>

  <div class="column">
    <img src="https://images.unsplash.com/photo-1484291470158-b8f8d608850d?w=600&q=80" alt="Bajo el agua 3">
    <img src="https://images.unsplash.com/photo-1484291470158-b8f8d608850d?w=600&q=80" alt="Oceano 2">
    <img src="https://images.unsplash.com/photo-1515934751635-c81c6bc9a2d8?w=600&q=80" alt="Boda 4">
    <img src="https://images.unsplash.com/photo-1483729558449-99ef09a8c325?w=600&q=80" alt="Cielos de montaña">
    <img src="https://images.unsplash.com/photo-1525857597365-5f6dbff2e36e?w=600&q=80" alt="Rocas 4">
    <img src="https://images.unsplash.com/photo-1493246507139-91e8fad9978e?w=600&q=80" alt="Bajo el agua 4">
  </div>
</div>