/* En styles.css (Global) */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* En el CSS del componente padre (donde está el <main>) */
.main, .content, .left-side {
  width: 100%;
  /* Asegúrate de no tener paddings aquí que encajonen el diseño */
  padding: 0; 
  margin: 0;
}


.component-general {
  width: 100%;
}


/** Titulos de secciones **/

.title-section-black {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.8rem;
  color: rgb(26, 25, 25);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 40px; /* Separación con la línea de tiempo */
  border-bottom: 1px solid #4b5563; /* Una línea sutil debajo del título */
  padding-bottom: 10px;
}


.title-section-white {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.8rem;
  color: rgb(191, 183, 183);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 40px; /* Separación con la línea de tiempo */
  border-bottom: 1px solid #4b5563; /* Una línea sutil debajo del título */
  padding-bottom: 10px;
}


/** BackGround general de secciones **/
.section-background-dark {
  background-color: rgb(30, 29, 29);
}

.section-background-light {
  background-color: #9a9898;
}

.section-general {
  display: flex;
  justify-content: center;
  padding: 60px 12%;
}
